body {
  background-color: #d9d9d9;
  font-family: "Roboto", sans-serif;
}
a {
  color: #4ed7f1;
}
main {
  padding: 30px 0;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.awesome-app {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 14px;
  padding: 30px;
}
.city-name {
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
  width: 80%;
  font-size: 15px;
  padding: 15px 20px;
}
.submit-button {
  background: #393e46;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding: 15px 30px;
  color: white;
}
.weather-app-info {
  display: flex;
  justify-content: space-between;
}
.weather-app-info {
  margin: 0;
  font-size: 25px;
  line-height: 40px;
}
  
footer {
  font-size: 14px;
  text-align: center;
  color: #393e46;
}
