body{
    background-color: #D9D9D9;
    font-family: "Roboto", sans-serif;
}
.awesome-app{
    background-color: white;
    max-width: 600px;
    margin: 30px auto;
    box-shadow:0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 14px;
    padding: 30px;
}